<p id="notice"><%= notice %></p>

<h1>
  <%= @user.name %>
</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% if @user.admin === true %>
    <p>Admin</p>
  <% end %>
</p>

<p>
  <strong>Account status:</strong>
  <% if @user.privilege === true %>
    <p>Normal</p>
    <%else%>
    <p>Locked: see administrator for help</p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
