<%= render "layouts/errors", :object => @response %>

<%= form_for [@question,@response] do |f| %>

  <div class="field">
    <%= f.label :response %>
    <%= f.text_field :response, id: :response_response %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
