<p id="notice"><%= notice %></p>

<p>
  <strong>for question:</strong>
  <%= @response.question_id %>
</p>

<p>
  <%= @response.response %>
</p>

<p>
  <% if @response.best === true %>
    <p>Best Response!</p>
  <% end %>
</p>

<p>
  by user: <%= @response.user %>
</p>



<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
