<!DOCTYPE html>
<html>
  <head>
    <title>StackOverflowClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="container">
      <nav>
        <a href="/users">Admin</a>
        <a href="/">User</a>
      </nav>

      <% if current_user %>
            <%= link_to current_user.name, user_path(current_user)%> | <%= link_to "Sign out", '/signout' %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
          <% end %>

      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
